.parentD {
 
      /* position: absolute;
      top: 50%;
      left: 50%; 
      transform : translate(-50% , -50% )*/

      /* overflow: auto; */
      display: flex;
      justify-content: space-between;
      place-items: center;
      /* display: flex;
      align-items: center;
      justify-content: center; */

}

.firstD {
      width: 1px;
      height: 40px;
      justify-content: center;
      display: flex;
      /* padding-left: 30px;
      padding-right: 30px; */
      padding: 2em 20em 2em 20em;
      border-color: black;
      color: white;
      background-color: black;
}

.secondD {

      width: 1px;
      height: 40px;
      justify-content: center;
      display: flex;
      padding: 2em 20em 2em 20em;
      background-color: yellow;
}

.thirdD { 

      width: 1px;
      height: 40px;
      justify-content: center;
      display: flex;
      /* padding-left: 30px;
      padding-right: 30px; */
      padding: 2em 20em 2em 20em;
      background-color: plum;

}





 

@media screen and (max-width :992px) {
     
      .parentD {
          
            display: grid;
            justify-content: center;
            grid-column: auto;
            
      }
}
