.parentdidanist {
  width: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #6c1c9c;
}

.didanist {
  height: 40vw;
  width: auto;
  background-color: #6c1c9c;
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  margin: auto;
}
.didanist1 {
  display: flex;
  flex-direction: column;
  margin-top: 6.75rem;
  margin-bottom: 115.12rem;
  row-gap: 1.5rem;
}
.didanist1 .svg {
  width: 14.73294rem;
  height: 2.875rem;
  margin: auto;
  margin-bottom: 0.1em;
  margin-top: 0;
  /* position: relative; */
}
.did2 p {
  width: 30.875rem;
  height: 4.0625rem;
  border-radius: 8px;
  background-color: #8f2fca;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "IRANYekan", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.did2 {
  display: grid;
  grid-column: auto;
  margin: auto;
}
.tradeAccountRegistration button {
  width: 18.625rem;
  height: 3.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
  background: #4e047b;
  text-align: right;
  font-family: "IRANYekan", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-radius: 0.625rem;
  border: none;
  /* display: grid;
  grid-column: auto; */
}
.tradeAccountRegistration {
  /* display: grid;
  grid-column: auto; */
  margin: auto;
}
.purple-left-part-picturs {
  margin-top: 4rem;
}

.bigsellers {
  color: #6a1b9a;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "IRANYekan", sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10rem;
  margin-bottom: 0.2rem;
}
.bigsellersParagraph {
  color: #000;
  background-color: #fdf7ff;
  /* display: flex; */
  width: 28.125rem;
  height: 6.4375rem;
  /* flex-direction: column; */
  margin: auto;

  border-radius: 0.3125rem;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  color: #000;
  text-align: center;
  font-family: "IRANYekan", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.wheretobuyImage img {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50vw;
  margin: auto;
}
.div-title {
  width: 15.0625rem;
  color: #c15a5a;
  text-align: right;
  font-family: "IRANYekan", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4375rem; /* 143.75% */

  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}
.firstD {
  width: 18.75rem;
  height: 11.5625rem;
  flex-shrink: 0;
  /* height: 11.5662rem; */
  justify-content: right;
  display: grid;
  text-align: right;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: "IRANYekan", sans-serif;
  /* padding: 1em 1em 1em 1em; */
  color: black;
  background-color: #ffffff;
  border-radius: 10px;
  /* margin-left: 2rem;
  margin-right: 4rem; */
  padding: 1em 1em 1em 1em;
  border: 1px solid #e0dcdc;
}
.firstD .icon1 {
  width: 1.75rem;
  height: 1.75rem;
  flex-shrink: 0;
}

.secondD {
  /* width: max-content; */
  width: 18.75rem;
  height: 11.5625rem;
  flex-shrink: 0;
  justify-content: right;
  display: grid;
  text-align: right;
  font-size: 1rem;
  font-family: "IRANYekan", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  /* position: absolute; */
  padding: 1em 1em 1em 1em;
  background-color: #ffffff;
  border-radius: 10px;
  /* margin-left: 2rem; */
  border: 1px solid #e0dcdc;
}
.secondD .p {
  /* position: absolute; */
  /* margin: 10px 10px 10px 10px; */
}
.thirdD {
  width: 18.75rem;
  height: 11.5625rem;
  flex-shrink: 0;
  justify-content: right;
  display: grid;
  text-align: right;
  font-size: 1rem;
  font-family: "IRANYekan", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  /* position: absolute; */
  /* padding-left: 30px;
      padding-right: 30px; */
  padding: 1em 1em 1em 1em;
  background-color: #ffffff;
  border-radius: 10px;
  /* margin-left: 2rem; */
  border: 1px solid #e0dcdc;
}

.fourthD {
  /* width: fit-content; */
  width: 18.75rem;
  height: 11.5625rem;
  flex-shrink: 0;
  justify-content: center;
  display: grid;
  text-align: right;
  font-size: 1rem;
  font-family: "IRANYekan", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  /* position: absolute; */
  padding: 1em 1em 1em 1em;
  background-color: #ffffff;
  border-radius: 10px;
  /* margin-left: 4rem; */
  border: 1px solid #e0dcdc;
}
.parentD svg {
  margin-left: 1.19rem;
  margin-right: 15.75rem;
}
.parentD img {
  margin-left: 1.19rem;
  margin-right: 15.75rem;
}

.parentD {
  display: flex;
  justify-content: center;
  width: auto;
  height: 23.1875rem;
  flex-shrink: 0;
  align-items: center;
  margin-top: 10rem;
  margin: auto;
  column-gap: 1.5rem;
  background-color: #fdf7ff;
}
.colaboratoresTitle p {
  color: #6a1b9a;
  text-align: center;
  font-family: "IRANYekan", sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ColaboratorsLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin: auto;
}

.ColaboratorsLogo img {
  display: inline-block;
}
/* media for Laptop */

@media screen and (max-width: 992px) {
  .parentD {
    width: 90vw;
    display: grid;
    justify-content: center;
    grid-column: auto;
    width: auto;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    /* align-self: center; */
  }
  .firstD {
    /* white-space: pre; */
    word-wrap: break-word;
    width: 90vw;
    /* width: 90vw; */
    height: fit-content;
    text-align: center;
    font-size: 1rem;
    font-family: "IRANYekan", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    /* display: inline-block; */
    /* overflow-wrap: break-word; */
    margin: auto;
    /* overflow-wrap: break-word; */
  }
  .secondD {
    /* white-space: pre; */ /*   the problem was here*/
    word-wrap: break-word;
    width: 90vw;
    height: fit-content;
    text-align: center;
    /* display: inline-block;  */ /* here the inline-block dispaly has conflict with word-wrap prop */
    top: auto;
    left: auto;
    font-size: 1rem;
    font-family: "IRANYekan", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: auto;
  }
  .thirdD {
    word-wrap: break-word;
    text-align: center;
    /* display: inline-block; */
    width: 90vw;
    /* overflow-wrap: break-word; */
    font-size: 1rem;
    font-family: "IRANYekan", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: auto;
  }
  .fourthD {
    word-wrap: break-word;
    width: 90vw;
    /* width: 90vw; */
    height: fit-content;
    text-align: center;
    font-size: 1rem;
    font-family: "IRANYekan", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: auto;
  }
  .bigsellersParagraph {
    word-wrap: break-word;
    top: auto;
    left: auto;
    width: 90vw;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    font-size: 1rem;
    margin: auto;
  }
  .didanist {
    width: 100%;
    background-color: #6c1c9c;

    /* margin: auto; */
    justify-content: center;
    align-items: center;
  }
  .didanist1 {
    justify-content: center;
    align-items: center;
    /* display: flex; */
    margin: auto;
  }
  .didanist1 .svg {
    margin: auto;
    /* width: 80%; */
  }
  .did2 {
    margin: auto;
   
  }
  .tradeAccountRegistration {
    margin: auto;
  }
  .purple-left-part-picturs {
    display: none;
  }
  .wheretobuyImage img {
    width: 70%;
    margin: auto;
  }
}


@media screen and (min-width: 995px) {
  .parentD {

    margin: auto;
    /* width: 80vw; */
  }
}
